.button {
  height: 50px;
  border-radius: 8px;
  padding: 0 32px;
  border: 0;

  background: #835afd;

  font-weight: 500;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  transition: filter 0.2s;

  img {
    margin-right: 8px;
  }

  &:not(:disabled):hover {
    filter: brightness(0.9);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
